body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 234, 247);
}
.card {
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.img-wrapper {
    margin: 30px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    overflow: hidden;
}
#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 4000;
    padding: 0 60px;
    font-size: 25px;
    margin: 5px 0;
    color: rgb(20, 6, 80);
}
#subtitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(148, 148, 148);
    font-weight: 100;
    padding: 0 55px;
}
@media (max-width:400px) {
    .card {
    height: 600px;
    width: 350px;
    }
    .img-wrapper {
        margin: 30px;
        width: 300px;
        height: 300px;
    }
    img {
        width: 300px;
    }
    #title {
        font-size: 24px;
        padding: 0 40px;
    }
    #subtitle {
        padding: 0 40px;
    }
}
@media (max-width:350px) {
    .card {
    height: 500px;
    width: 300px;
    }
    .img-wrapper {
        margin: 15px;
        width: 225px;
        height: 225px;
    }
    img {
        width: 225px;
    }
    #title {
        font-size: 22px;
        padding: 0 25px;
        margin-bottom: 10xp;
    }
    #subtitle {
        padding: 0 25px;
    }
}
